@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
input[type="button"] {
    transition: 0.75s;
}
input[type="button"]:hover {
    cursor: pointer;
}
header {
    background-color: white;
    height: 70px;
    width: 100%;
}
#headerdiv {
    margin: auto;
    width: fit-content;
    #previewb {
        background-color: rgb(115, 223, 7);
    }
    #previewb:hover {
        background-color: rgb(76, 150, 2);
        box-shadow: 0 0 1px 1px rgb(115, 223, 7);
    }
    #htmlb {
        background-color: rgb(41, 168, 223);
    }
    #htmlb:hover {
        background-color: rgb(27, 136, 183);
        box-shadow: 0 0 1px 1px rgb(41, 168, 223);
    }
    #cssb {
        background-color: rgb(41, 168, 223);
    }
    #cssb:hover {
        background-color: rgb(27, 136, 183);
        box-shadow: 0 0 1px 1px rgb(41, 168, 223);
    }
    #downloadb {
        background-color: rgb(41, 168, 223);
    }
    #downloadb:hover {
        background-color: rgb(27, 136, 183);
        box-shadow: 0 0 1px 1px rgb(41, 168, 223);
    }
    #actionsb {
        background-color: rgb(255, 69, 69);
    }
    #actionsb:hover {
        background-color: rgb(173, 34, 34);
        box-shadow: 0 0 1px 1px rgb(255, 69, 69);
    }
}
input[type="button"].headerbb {
    margin-top: 1.5%;
    border-radius: 8px;
    height: 50px;
    width: 120px;
    transition: 0.75s;
    margin-left: 15px;
    border: 0;
    font-weight: bold;
    color: white;
}
#main {
    height: 89vh;
    width: 100%;
}
#s1 {
    height: 100%;
    width: 30%;
    float: left;
    #sg1 {
        height: 3%;
        width: 100%;
    }
    #s1lb {
        height: 97%;
        width: 100%;
        #sg2 {
            height: 100%;
            width: 10%;
            float: left;
        }
    }
}
#s2 {
    height: 100%;
    width: 70%;
    float: left;
}
#s1main {
    height: 97%;
    background-color: white;
    width: 80%;
    float: left;
    border-radius: 10px;
    box-shadow: 0 0 1.5px 1.5px rgb(202, 202, 229);
}
#profilepic {
    height: 100px;
    width: 100px;
    border: 5px solid rgb(54, 164, 255);
    border-radius: 50%;
    margin-left: 35%;
    margin-top: 5%;
}
#profilepic:hover {
    cursor: pointer;
}
#name {
    margin-top: 5px;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}
#bio {
    color: grey;
    margin-top: 8px;
    text-align: center;
    font-size: 15px;
}
#address {
    color: grey;
    margin-top: 10px;
    text-align: center;
    width: 95%;
    font-size: 15px;
    margin-left: 10px;
}
hr#ps {
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
    border: 0.5px solid silver;
    margin-bottom: 15px;
}
hr#ss {
    width: 80%;
    margin-left: 10%;
    border: 0.25px solid silver;
    margin-top: 5px;
    margin-bottom: 5px;
}
#fm {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}
#follow {
    border-radius: 8px;
    height: 35px;
    width: 100px;
    border: 0;
    background-color: rgb(54, 164, 255);
    font-weight: bold;
    color: white;
}
#follow:hover {
    cursor: pointer;
    background-color: rgb(9, 124, 218);
    box-shadow: 0 0 1px 1px rgb(54, 164, 255);
}
#message {
    border-radius: 8px;
    height: 35px;
    width: 100px;
    transition: 0.75s;
    margin-left: 15px;
    border: 1px solid rgb(54, 164, 255);
    font-weight: bold;
    background-color: white;
    color: rgb(54, 164, 255);
}
#message:hover {
    color: white;
    background-color: rgb(54, 164, 255);
    box-shadow: 0 0 1px 1px rgb(54, 164, 255);
}
i {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
#social {
    font-size: 16px;
    margin-left: 5px;
}
#socl {
    float: right;
    margin-right: 40px;
    margin-top: 12px;
    color: grey;
    cursor: pointer;
    font-size: 12px;
}
#g1 {
    height: 3%;
    width: 100%;
}
#m1 {
    height: 48%;
    width: 95%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 1.5px 1.5px rgb(202, 202, 229);
}
#g2 {
    height: 1.5%;
    width: 100%;
}
#m2 {
    height: 47%;
    width: 95%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 1.5px 1.5px rgb(202, 202, 229);
}
label {
    margin-top: 20px;
    margin-left: 10px;
}
input[type="text"],input[type="email"] {
    height: 30px;
    width: 800px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 1px 1px silver;
    background-color: rgb(250, 250, 250);
    transition: 0.25s;
    margin-left: 50px;
    padding-left: 10px;
    margin-top: 5px;
}
input[type="text"]:hover,input[type="email"]:hover {
    box-shadow: 0 0 2px 2px silver;
}
#savechanges {
    border-radius: 8px;
    height: 35px;
    width: 180px;
    margin-left: 50px;
    border: 0;
    background-color: rgb(54, 164, 255);
    font-weight: bold;
    color: white;
}
#savechanges:hover {
    background-color: rgb(9, 124, 218);
    box-shadow: 0 0 1px 1px rgb(54, 164, 255);
}
#inga {
    height: 3.5%;
    /* background-color: aqua; */
}
#prostat {
    margin-left: 30px;
}
#proli {
    color: rgb(69, 69, 69);
    font-size: 14px;
    margin-top: 18px;
    margin-left: 30px;
}
.progress {
    height: 5px;
    margin-top: 10px;
    width: 90%;
    border-radius: 10px;
    margin-left: 30px;
    background-color: rgb(214, 214, 214);
}
#problue {
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background-color: rgb(3, 132, 237);
}
#prored {
    height: 100%;
    width: 68%;
    border-radius: 10px;
    background-color: rgb(217, 0, 0);
}
#progreen {
    height: 100%;
    width: 90%;
    border-radius: 10px;
    background-color: rgb(0, 165, 0);
}
#proyellow {
    height: 100%;
    width: 55%;
    border-radius: 10px;
    background-color: rgb(255, 196, 0);
}
#problue2 {
    height: 100%;
    width: 62%;
    border-radius: 10px;
    background-color: rgb(0, 167, 209);
}